<div>
  <dnd-filter-panel showFilterPanel="showFilterPanel" [(filterBy)]="filterBy" [takeDays]="takeDays" (takeDaysClick)="takeDaysClickedHandler($event)"
    (navigationDaysClick)="navigationDaysClickedHandler($event)"></dnd-filter-panel>
  <main id="calendar">
    <div class="week" *ngFor="let week of responses | async | groupBy:'week'">
      <div class="day" *ngFor="let day of week.value">
        <app-dnd-day [day]="day" [filterBy]="filterBy" (dayClicked)="dayClickedHandler($event)">
        </app-dnd-day>
      </div>
    </div>
  </main>
  <!-- <div>
        <pre>{{days | json}}</pre>
      </div> -->
</div>
<app-poor-mans-modal [showModal]="showModal" [selectedCustomer]="selectedCustomer" (closeModalClick)="closeModalClickHandler($event)" ></app-poor-mans-modal>