/* Calendar 100% height */

#calendar {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    border: 0px solid blue;
    padding: 10px 20px;
}

#calendar>.week{
    border-bottom: 0px solid black;
    margin-bottom: 10px;
}
/* #calendar>.week:nth-child(odd){
    border-top: 2px solid black;
} */

.th,.week{
    display: flex;

    /* border-bottom: 1px solid #1d1d1d; */
}
.th{
    display: none;
}
#calendar>.th:first-child{
    display: flex;
}
.week{
    background-color: #ffffff;
}
.th>span,.week>div{
    flex: 1;
    
}
.th>span{
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 20pt;
    color: #ffffff;
    /* border-bottom: 4px dashed blue; */
}
.th>span,.week>div{
    /* padding: 10px 10px; */
}
.th>span{
    
    /* background-color: #1d1d1d;
    color: #ffffff; */
}

.th>span:first-child,.week>div:first-child{
    /* background-color: #c1c1c1;
    color: #1d1d1d; */
    /* border-right: 0px solid #1d1d1d; */
}
.week>div{
    border: 0px solid #1d1d1d;
    border-left: 0px;
    /* border-right: 1px solid #1d1d1d;
    border-bottom: 1px solid #1d1d1d; */
}
.week>div:first-child{
    border-left: 0px solid #1d1d1d;
}
