.show-filter-panel-toggle {
    cursor: pointer;
    font-size: 10px;
}
.filter-panel {
    display: flex;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
    font-size: 10px;
    padding: 5px;
}

.filter-panel-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.filter-panel>.filter-panel-item {
    border-right: 1px solid #cacaca;
    margin-right: 5px;
    /* background-color: #2d89ef; */
}

.filter-panel>.filter-panel-item:last-child {
    border-right: 0px;
    margin-right: 0px;
}

.filter-panel-item-content {
    /* background-color: pink; */
    flex: 1;
    text-align: center;
}

.filter-panel-item-description {
    /* background-color: lightsalmon; */
    text-align: center;
    padding: 5px 0px;
    /* border-top: 1px solid black; */
}