<div (click)="showFilterPanel = !showFilterPanel" class="show-filter-panel-toggle">
  Show/Hide Filters
</div>
<div *ngIf="showFilterPanel" class="filter-panel">
  <dnd-filter-panel-item class="filter-panel-item">
    <!-- put your dynamic content here -->
    <div class="filter-panel-item-content">
        <form name="form">

            <input type="radio" value="Suburb" (click)="filterBy = 'Suburb'" name="filterBy"> Suburb
            <input type="radio" value="PostCode" (click)="filterBy = 'PostCode'" name="filterBy"> PostCode
            <!-- <div>
                  <pre>{{model | json}}</pre>
                </div> -->
                {{filterBy}}
          </form>
    </div>
    <!-- end dynamic content -->
    <div class="filter-panel-item-description">
      Group By
    </div>
  </dnd-filter-panel-item>
</div>