/* .filterContainer{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
} */
.show-filter-panel-toggle {
    cursor: pointer;
    font-size: 12px;
}

.filter-panel {
    display: flex;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
    /* background-color: #cacaca; */
    background-color: #ffffff;
    margin: 0px 20px;
}

.filter-panel-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 10px;
}

.filter-panel>.filter-panel-item {
    border-right: 1px solid #cacaca;
    margin-right: 5px;
    /* background-color: #2d89ef; */
}

.filter-panel>.filter-panel-item:last-child {
    border-right: 0px;
    margin-right: 0px;
}

.filter-panel-item-content, .filter-panel-item-content-cemtered {
    background-color: transparent;
    flex: 1 1 auto;
    text-align: center;
}

.filter-panel-item-content-cemtered {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.filter-panel-item-description {
    background-color: transparent;
    text-align: center;
    padding: 5px 0px;
    flex: 0 1 auto;
    /* border-top: 1px solid black; */
}

.dnd-nav {
    display: flex;
    flex: 1;
}

.dnd-nav>* {
    background-color: #696969;
    border: 1px solid #cacaca;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 100%;
}


.mock-buttons {
    background-color: #696969;
    border: 1px solid #cacaca;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}