.dnd-day {
    /* flex: 1 1 auto;
    margin: auto;
    padding: 0px 5px;
    align-self: flex-start;
    border: 2px solid red;
     */
    /* flex: 1 1 auto; */
    /* flex: 1 1 20%; */
    padding: 0px 0px;
}

.dnd-day-heading-big {
    border: 1px solid #ffffff;
    font-size: 20pt;
    background-color: #cacaca;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
}

.dnd-day-heading {
    /* display: flex;
    background-color: #ffffff;
    border: 1px solid lightgray;
    font-size: 14px; */
    flex: 1 1 auto;
    text-align: right;
    padding: 0px 5px;;
}

.dnd-day-content {
    flex: 1 1 auto;
    padding: 0px 5px;
}

.is-today {
    /* background-color: #eff4ff;
    border: 1px solid #2d89ef; */
}

.is-sunday {
    /* background-color: #ffffff;
    border: 1px solid #1d1d1d; */
}