.dnd-day {
    /* flex: 1 1 auto;
    margin: auto;
    padding: 0px 5px;
    align-self: flex-start;
    border: 2px solid red;
     */
    /* flex: 1 1 auto; */
    flex: 1 1 20%;
    padding: 0px 5px;
    /* align-self: flex-start;
    display: flex;
    flex-direction: column; */
    /* min-width: 250px; */
    background-color: #99b433;
    border: 1px solid #1e7145;
    margin: 5px;
}

.dnd-day-heading {
    /* display: flex;
    background-color: #ffffff;
    border: 1px solid lightgray;
    font-size: 14px; */
    margin-bottom: 5px;
    flex: 1 1 auto;
}

.dnd-day-content {
    flex: 1 1 auto;
}

.is-today {
    background-color: #eff4ff;
    border: 1px solid #2d89ef;
}