<div class="dnd-day" [ngClass]="{'is-today': day.IsToday,'is-sunday': day.IsSunday }">
  <div class="dnd-day-heading-big">
      {{day.Date | date:'EEEE' | uppercase}}
  </div>
  <div class="dnd-day-heading">
    <div>
      {{day.Date | date:'dd/MM/yyyy'}}
    </div>
    <div *ngIf="showDay">
      {{day.Date | date:'EEEE'}}
    </div>
  </div>
  <div class="dnd-day-content">
    <app-dnd-timeslot *ngFor="let timeslot of day.TimeSlots; let timeslotIndex = index" [timeslot]="timeslot" [filterBy]="filterBy"></app-dnd-timeslot>
  </div>