<div (click)="showFilterPanel = !showFilterPanel" style="cursor: pointer;font-size: 10px;">Show/Hide Filters</div>
<div *ngIf="showFilterPanel" class="filter-panel">
  <div class="filter-panel-item">
    <div class="filter-panel-item-content">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <input type="radio" value="Suburb" (click)="filterBy = 'Suburb'" name="filterBy" [(ngModel)]="model.filterBy"> Suburb
        <input type="radio" value="PostCode" (click)="filterBy = 'PostCode'" name="filterBy" [(ngModel)]="model.filterBy"> PostCode
        <!-- <div>
              <pre>{{model | json}}</pre>
            </div> -->
      </form>
    </div>
    <div class="filter-panel-item-description">
      Group By</div>
  </div>
  <div class="filter-panel-item">
    <div class="filter-panel-item-content" style="display:flex;flex-direction: column;align-items: stretch;border: 0px solid black;">
      <div style="flex: 1;background-color: transparent;display: flex;">
        <div style="flex: 1;">Brand</div>
        <div style="flex: 3;text-align: left;">
          <select style="font-size: 10px; width: 90%;">
            <option *ngFor="let brand of brands;" value="{{brand}}">{{brand}}</option>
          </select>
        </div>
      </div>
      <div style="flex: 1;background-color: transparent;display: flex;">
        <div style="flex: 1;">State</div>
        <div style="flex: 3;text-align: left;">
          <select style="font-size: 10px; width: 90%;">
            <option *ngFor="let state of states;" value="{{state}}">{{state}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter-panel-item-description">
      Filter
    </div>
  </div>
  <div class="filter-panel-item">
    <div class="filter-panel-item-content" style="display: flex;align-items: flex-start;justify-content: center;">
      <div class="dnd-nav" style="flex: 1;" *ngFor="let takeDaysOption of takeDaysOptions;">
        <div (click)="setTakeDays(takeDaysOption)">{{formatDays(takeDaysOption)}}</div>
      </div>
    </div>
    <div class="filter-panel-item-description">
      Take
    </div>
  </div>
  <div class="filter-panel-item">
    <div class="filter-panel-item-content" style="display: flex;align-items: flex-start;justify-content: center;">
      <div class="dnd-nav" style="flex: 1;" *ngFor="let navigationDaysOption of navigationDaysOptions;">
        <div (click)="navigateToDay(navigationDaysOption)">{{formatDays(navigationDaysOption)}}</div>
      </div>
    </div>
    <div class="filter-panel-item-description">
      Days
    </div>
  </div>
  <div class="filter-panel-item">
    <div class="filter-panel-item">
      <div class="filter-panel-item-content">
        &nbsp;
      </div>
      <div class="filter-panel-item-description" style="display: flex;align-items: flex-start;justify-content: center;">
        <div (click)="saveChanges()" class="mock-buttons">Save</div>
        <div (click)="discardChanges()" class="mock-buttons">Discard</div>
      </div>
    </div>

  </div>
</div>
<div *ngIf="showUnscheduled" style="display: flex;border: 2px solid black;margin-bottom: 10px;min-height: 20px;">
  <div>Unscheduled:&nbsp;</div>
  <div style="flex: 1;display: flex;" dnd-droppable (onDropSuccess)="transferDataSuccess($event,-1,-1)">
    <div *ngIf="unschduledJobs.length ==0" style="padding-left: 10px;color: darkgrey">No Unscheduled jobs</div>
    <div *ngIf="unschduledJobs.length > 0" style="padding-left: 0px;display: flex;flex-wrap: wrap;">
      <div *ngFor="let customer of unschduledJobs; let customerIndex = index">
        <div class="draggle-customer" style="margin-left: 5px;" title="Click to view '{{customer.DisplayName}}' details or drag to another time"
          (click)="toggleCustomerClicked($event, customer)" dnd-draggable [dragEnabled]="true" [dragData]="{customer: customer, fromUnscheduled: true}">
          <strong>&Xi;
            <span>{{customer.Suburb}}</span>
          </strong>
          <div>
            <span>{{customer.PostCode}}</span>&nbsp;
            <span>{{customer.DisplayName}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dnd-container">
  <div class="dnd-day" *ngFor="let day of days; let dayIndex = index" [ngClass]="{'is-today': day.IsToday }">
    <div class="dnd-timeslot-details">
      <!-- <div class="flex-one">
        <div class="dnd-timeslot-details-detail">
          ({{day.Date | date:'dd/MM'}})
        </div>
      </div> -->
      <div class="flex-one">
        <div class="dnd-timeslot-details-detail">
          <div>
            {{day.Date | date:'dd/MM/yyyy'}}
          </div>
          <div>
            {{day.Date | date:'EEEE'}}
          </div>
        </div>
      </div>
    </div>

    <div class="dnd-time-slot" *ngFor="let timeslot of day.TimeSlots; let timeslotIndex = index">
      <div class="dnd-timeslot-times" style="display: flex;flex-wrap: wrap;align-items: center;justify-content: center;" [ngClass]="{'show-warning': timeslot.TimeSlotsAllocated > timeslot.TimeSlotsTotal }">
        <div style="border-bottom: 0px solid #ffffff;display: flex;justify-content: center;">
          <div>{{timeslot.Time}}</div>
        </div>
        <div style="border: 0px solid blue;width: 100%;display: flex;justify-content: center;">
          <div>
            <span [ngClass]="{'show-warning-red': timeslot.TimeSlotsAllocated > timeslot.TimeSlotsTotal }">{{timeslot.TimeSlotsAllocated}}</span>/{{timeslot.TimeSlotsTotal}}
          </div>
        </div>
      </div>
      <div style="display: flex;flex: 2;padding: 5px;">
        <div style="flex: 1;min-height: 20px;" dnd-droppable (onDropSuccess)="transferDataSuccess($event,dayIndex,timeslotIndex)"
          class="dnd-timeslot-dropzone" [ngClass]="{'no-appointments': timeslot.Customers.length == 0,'all-booked': timeslot.Customers.length >= timeslot.TimeSlotsTotal }">
          <div *ngIf="timeslot.Customers.length == 0" style="display: flex;align-items: center;justify-items: center;height: 100%;">
            <div style="width: 100%;text-align: center;margin: auto;color: #ffffff">No Appointments</div>
          </div>
          <div *ngFor="let suburb of timeslot.Customers | groupBy:filterBy">
            <div class="dnd-timeslot-dropzone-item" title="Click to view all customer details" (click)="timeslotClicked($event,dayIndex,timeslotIndex)">{{suburb.key}}
              <span class="mock-badge mock-badge-red">{{suburb.value.length}}</span>
            </div>
          </div>
          <div *ngIf="timeslot.Customers.length > 0 && timeslot.OpenCustomers" style="border: 1px dashed grey;margin: 2px;padding: 2px;background-color: #ffffff;">
            <div style="display: flex;align-items: center;">
              <span style="flex: 1;color: #1d1d1d;">&nbsp;Customers</span>
              <span title="close Customer Summary" (click)="timeslot.OpenCustomers = false" class="timeslot-close">&times;</span>
            </div>
            <div *ngFor="let customer of timeslot.Customers; let customerIndex = index">
              <div class="draggle-customer" title="Click to view '{{customer.DisplayName}}' details or drag to another time" (click)="toggleCustomerClicked($event, customer)"
                dnd-draggable [dragEnabled]="true" [dragData]="{customer: customer, fromUnscheduled: false}">
                <strong>&Xi;
                  <span>{{customer.Suburb}}</span>
                </strong>
                <div>
                  <span>{{customer.PostCode}}</span>&nbsp;
                  <span>{{customer.DisplayName}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div *ngIf="SelectedCustomer" id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closePoorMansModal()">&times;</span>
      <h2>{{SelectedCustomer.JobNumber}}</h2>
    </div>
    <div class="modal-body">
      <div class="box" style="width: 300px;">
        <div>Lead Number:</div>
        <div>
          <a href="{{SelectedCustomer.Link}}">{{SelectedCustomer.LeadNumber}}</a>
        </div>
        <div>Showroom:</div>
        <div>{{SelectedCustomer.Showroom}}</div>
        <div>Name:</div>
        <div>{{SelectedCustomer.DisplayName}}</div>
        <div>Suburb:</div>
        <div>{{SelectedCustomer.Suburb}}</div>
        <div>PostCode:</div>
        <div>{{SelectedCustomer.PostCode}}</div>
        <div>Consultant:</div>
        <div>{{SelectedCustomer.Consultant}}</div>
        <div>Date:</div>
        <div>{{SelectedCustomer.AppointmentDate | date:'dd/MM/yyyy hh:mm a'}}</div>
        <div>Designer:</div>
        <div>{{SelectedCustomer.Designer}}</div>
        <div>Comments:</div>
        <div>{{SelectedCustomer.Comment}}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showConfirmationModal" id="myModal2" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closePoorMansModal2()">&times;</span>
      <h2>{{action}} Changes</h2>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to {{action}} changes?</p>
    </div>
    <div class="modal-footer">
      <div style="display: flex;justify-content: flex-end;">
        <div (click)="okClicked()" class="mock-buttons">OK</div>
        <div (click)="cancelClicked()" class="mock-buttons">Cancel</div>
      </div>
    </div>
  </div>
</div>