<div style="display: flex;border: 2px solid black;margin-bottom: 10px;">
  <div>Filters:&nbsp;</div>
</div>
<div style="display: flex;border: 2px solid black;margin-bottom: 10px;min-height: 20px;">
  <div>Unscheduled:&nbsp;</div>
  <div style="flex: 1;display: flex;" dnd-droppable (onDropSuccess)="transferDataSuccess($event,-1,-1)">
    <div *ngIf="UnschduledJobs.length ==0" style="padding-left: 10px;color: darkgrey">No Unscheduled jobs</div>
    <div *ngIf="UnschduledJobs.length > 0" style="padding-left: 0px;display: flex;flex-wrap: wrap;">
      <div *ngFor="let customer of UnschduledJobs; let customerIndex = index">
        <div class="draggle-customer" style="margin-left: 5px;" title="Click to view '{{customer.DisplayName}}' details or drag to another time"
          (click)="ToggleCustomerClicked($event, customer)" dnd-draggable [dragEnabled]="true" [dragData]="{customer: customer, fromUnscheduled: true}">
          <strong>&Xi;
            <span>{{customer.PostCode}}</span>
          </strong>&nbsp;
          <span>{{customer.DisplayName}} </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dnd-container">
  <div class="dnd-day" *ngFor="let day of Days; let dayIndex = index">
    <div class="dnd-timeslot-details">
      <div class="flex-one">
        <div class="dnd-timeslot-details-detail">
          Wk {{day.WeekNumber}} &nbsp;
        </div>
      </div>
      <div class="flex-one">
        <div class="dnd-timeslot-details-detail">{{day.DayName}}</div>
      </div>
    </div>

    <div class="dnd-time-slot" *ngFor="let timeslot of day.TimeSlots; let timeslotIndex = index">
      <div class="dnd-timeslot-times" style="display: flex;flex-wrap: wrap;align-items: center;justify-content: center;" [ngClass]="{'show-warning': timeslot.TimeSlotsAllocated > timeslot.TimeSlotsTotal }">
        <div style="border-bottom: 1px solid #ffffff;display: flex;justify-content: center;">
          <div>{{timeslot.Time}}</div>
        </div>
        <div style="border: 0px solid blue;width: 100%;display: flex;justify-content: center;">
          <div>
            [
            <span [ngClass]="{'show-warning-red': timeslot.TimeSlotsAllocated > timeslot.TimeSlotsTotal }">{{timeslot.TimeSlotsAllocated}}</span>/{{timeslot.TimeSlotsTotal}}]
          </div>
        </div>
      </div>
      <div style="flex: 2;min-height: 20px;" dnd-droppable (onDropSuccess)="transferDataSuccess($event,dayIndex,timeslotIndex)"
        class="dnd-timeslot-dropzone">
        <div *ngIf="timeslot.Customers.length == 0" style="display: flex;align-items: center;justify-items: center;height: 100%;">
          <div style="width: 100%;text-align: center;color: darkgrey;margin: auto;">No Appointments</div>
        </div>
        <div *ngFor="let postcode of timeslot.Customers | groupBy:'PostCode'">
          <div class="dnd-timeslot-dropzone-item" title="Click to view all customer details" (click)="timeslotClicked($event,dayIndex,timeslotIndex)">{{postcode.key}}
            <span class="mock-badge mock-badge-red">{{postcode.value.length}}</span>
          </div>
        </div>
        <div *ngIf="timeslot.Customers.length > 0 && timeslot.OpenCustomers" style="border: 2px dashed crimson;margin: 2px;padding: 2px;">
          <div style="display: flex;align-items: center;">
            <span style="flex: 1;">&nbsp;Summary</span>
            <span title="close Customer Summary" (click)="timeslot.OpenCustomers = false" style="color: #1d1d1d;font-size: 28px;font-weight: bold;">&times;</span>
          </div>
          <div *ngFor="let customer of timeslot.Customers; let customerIndex = index">
            <div class="draggle-customer" title="Click to view '{{customer.DisplayName}}' details or drag to another time" (click)="ToggleCustomerClicked($event, customer)"
              dnd-draggable [dragEnabled]="true" [dragData]="{customer: customer, fromUnscheduled: false}">
              <strong>&Xi;
                <span>{{customer.PostCode}}</span>
              </strong>&nbsp;
              <span>{{customer.DisplayName}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div *ngIf="SelectedCustomer" id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closePoorMansModal()">&times;</span>
      <h2>{{SelectedCustomer.JobNumber}}</h2>
    </div>
    <div class="modal-body">
      <div>
        <strong>Name:</strong>
        &nbsp;{{SelectedCustomer.DisplayName}}
      </div>
      <div>
        <strong>Post Code:</strong>
        &nbsp;{{SelectedCustomer.PostCode}}
      </div>
      <div>
        <strong>Lead:</strong>&nbsp;
        <a href="{{SelectedCustomer.Link}}">Link</a>
      </div>
      <div>
        <strong>Comments:</strong>
        <p>
          {{SelectedCustomer.Comment}}
        </p>
      </div>
    </div>
  </div>
</div>