<dnd-filter-panel showFilterPanel="showFilterPanel" [(filterBy)]="filterBy" 
[takeDays]="takeDays" 
(takeDaysClick)="takeDaysClickedHandler($event)"
  (navigationDaysClick)="navigationDaysClickedHandler($event)"></dnd-filter-panel>

<div class="dnd-container">
  <app-dnd-day *ngFor="let day of days; let dayIndex = index" 
  [day]="day" [filterBy]="filterBy" 
  (dayClicked)="dayClickedHandler($event)" (transferDataEvent)="transferDataEventHandler($event)">
  </app-dnd-day>
</div>

<!-- The Modal -->
<div *ngIf="SelectedCustomer" id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closePoorMansModal()">&times;</span>
      <h2>{{SelectedCustomer.JobNumber}}</h2>
    </div>
    <div class="modal-body">
      <div class="box" style="width: 300px;">
        <div>Lead Number:</div>
        <div>
          <a href="{{SelectedCustomer.Link}}">{{SelectedCustomer.LeadNumber}}</a>
        </div>
        <div>Showroom:</div>
        <div>{{SelectedCustomer.Showroom}}</div>
        <div>Name:</div>
        <div>{{SelectedCustomer.DisplayName}}</div>
        <div>Suburb:</div>
        <div>{{SelectedCustomer.Suburb}}</div>
        <div>PostCode:</div>
        <div>{{SelectedCustomer.PostCode}}</div>
        <div>Consultant:</div>
        <div>{{SelectedCustomer.Consultant}}</div>
        <div>Date:</div>
        <div>{{SelectedCustomer.AppointmentDate | date:'dd/MM/yyyy hh:mm a'}}</div>
        <div>Designer:</div>
        <div>{{SelectedCustomer.Designer}}</div>
        <div>Comments:</div>
        <div>{{SelectedCustomer.Comment}}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showConfirmationModal" id="myModal2" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closePoorMansModal2()">&times;</span>
      <h2>{{action}} Changes</h2>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to {{action}} changes?</p>
    </div>
    <div class="modal-footer">
      <div style="display: flex;justify-content: flex-end;">
        <div (click)="okClicked()" class="mock-buttons">OK</div>
        <div (click)="cancelClicked()" class="mock-buttons">Cancel</div>
      </div>
    </div>
  </div>
</div>