.dnd-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dnd-time-slot {
    display: flex;
    background-color: #ffffff;
    border: 1px solid lightgray;
    margin-bottom: 5px;
    font-size: 14px;
}

.timeslot-close {
    color: #1d1d1d;
    font-size: 20px;
    ;
    font-weight: bold;
}

.dnd-day {
    /* border-left: 1px dashed #1d1d1d; */
    flex: 1;
    margin: auto;
    padding: 0px 5px;
    align-self: flex-start;
    flex-basis: 12%;
    /* width: 205px; */
}

.dnd-timeslot-details {
    display: flex;
    /* background-color: #ffffff; */
}

.dnd-timeslot-details-detail {
    /* font-size: 20pt; */
    font-size: 14px;
    margin: auto;
}

.dnd-timeslot-times {
    flex: 1;
    /* border: 1px solid darkgray; */
    /* background-color: #101010;
    color: #ffffff; */
    /* background-color: #cccaca; */
    background-color: transparent;
    color: #1d1d1d;
    padding: 5px;
}

.dnd-timeslot-dropzone {
    border: 0px solid red;
    background-color: #cccaca;
    border: 1px solid darkgray;
}

.dnd-timeslot-dropzone-item {
    /* font-size: 12pt; */
    position: relative;
    border: 0px solid #1d1d1d;
    /* border-radius: 5px; */
    padding: 5px;
    /* background-color: #2b5797; */
    /* border-bottom: 1px dashed #1d1d1d; */
}

.flex-one {
    flex: 1;
}

.draggle-customer {
    /* font-size: 14pt;margin-bottom: 10px;position: relative;border: 0px solid #1d1d1d;border-radius: 0px;padding: 5px;background-color: #ffffff;color: #1d1d1d; */
    background: #eff4ff;
    margin: 5px 0px;
    padding: 5px;
    color: #2d89ef;
}

.dnd-timeslot-selected, .dnd-customer-selected {
    border: 2px solid #1d1d1d;
    width: 200px;
    margin: auto;
    padding: 5px;
    /* cursor: pointer; */
    background-color: #2d89ef;
    color: white;
    position: relative;
}

.dnd-customer-selected a {
    color: crimson;
}

/* poor mans modal */

/* The Modal (background) */

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal {
    text-align: center;
    padding: 0!important;
    font-size: 14px;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* Modal Content */

.modal-content {
    /* position: fixed;
    bottom: 0; */
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background-color: #fefefe;
    /* width: 100%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    font-size: 14px;
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1d1d1d;
    color: white;
    font-size: 14px;
}

.modal-body {
    padding: 2px 16px;
    font-size: 14px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #1d1d1d;
    color: #1d1d1d;
    font-size: 14px;
}

/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.show-warning {
    color: #1d1d1d;
    background-color: #ffc40d;
}

.show-warning-red {
    color: crimson;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box>* {
    flex: 1 1 150px;
    margin-bottom: 5px;
}

.box>*:nth-child(odd) {
    flex: 1 1 90px;
    font-weight: bold;
}

/* .dnd-nav {
    display: flex;
}

.dnd-nav>* {
    flex: 1;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.mock-buttons {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
} */

.no-appointments {
    background-color: #00a300;
}

.all-booked {
    background-color: grey;
    border: 1px solid darkgray;
    color: white;
}

.is-today {
    background-color: #eff4ff;
    border: 1px solid #2d89ef;
}