<div class="dnd-time-slot">
  <div class="dnd-timeslot-times" [ngClass]="{'show-warning': timeslot.TimeSlotsAllocated > timeslot.TimeSlotsTotal }">
    <div>
      <div>{{timeslot.Time}}</div>
    </div>
    <div>
      <div>
        <span [ngClass]="{'show-warning-red': timeslot.TimeSlotsAllocated > timeslot.TimeSlotsTotal }">{{timeslot.TimeSlotsAllocated}}</span>/{{timeslot.TimeSlotsTotal}}
      </div>
    </div>
  </div>
  <div class="dnd-timeslot-content">
    <div dnd-droppable (onDropSuccess)="transferDataSuccess($event,day,timeslot)" class="dnd-timeslot-dropzone" [ngClass]="{'no-appointments': timeslot.Customers.length == 0,'all-booked': timeslot.Customers.length >= timeslot.TimeSlotsTotal }">
      <div *ngIf="timeslot.Customers.length == 0">No Appointments</div>
      <div *ngIf="timeslot.Customers.length > 0">
        <div *ngFor="let suburb of timeslot.Customers | groupBy:filterBy">
          <div class="dnd-timeslot-dropzone-item" title="Click to view all customer details" (click)="timeslotClicked(timeslot)">{{suburb.key}}
            <span class="mock-badge mock-badge-red">{{suburb.value.length}}</span>
          </div>
        </div>
      </div>
      <div class="dnd-timeslot-customer" *ngIf="timeslot.Customers.length > 0 && timeslot.OpenCustomers">
        <div class="dnd-timeslot-customer-heading">
          <span>&nbsp;Customers</span>
          <span title="close Customer Summary" (click)="timeslot.OpenCustomers = false" class="timeslot-close">&times;</span>
        </div>
        <div *ngFor="let customer of timeslot.Customers; let customerIndex = index">
          <app-dnd-customer [customer]="customer" [day]="day" [timeslot]="timeslot"></app-dnd-customer>
        </div>
      </div>
    </div>
  </div>
</div>